@tailwind base;
@tailwind components;
@tailwind utilities;

.style {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .style2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  }
  *{
          scroll-behavior: smooth;
  }